.productFullCard{
    
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    &__img{
        width: 649px;
        height: 700px;
        border-radius: 24px;
    }
    &__content{
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1{
            font-size: 70px;
           
            letter-spacing: -1.4px;
            margin-bottom: 32px;
        }
    }
    &__productBuy{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &Btn{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 288px;
            height: 60px;
            background: #151B1A;
            border-radius: 12px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
        }
    }
    &__productPrice{
        font-size: 30px;
        color: #151B1A;
        font-weight: 700;
        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            display: flex;
            align-items: center;
            text-transform: lowercase;
            color: #8E8E8E;
            
        }
    }
    &__descr{
        font-size: 20px;
        line-height: 28px;
        text-transform: lowercase;
        color: #151B1A;
        margin-bottom: 8px;
    }
    &__backLink{
        font-size: 16px;
        line-height: 20px;
        color: #A0A6A6;
        text-decoration: none;
        margin-bottom: 64px;
    }
}
